
<style>

    .header {
        text-align: center;
    }

    .credits-container {
        background-color: #FDF5E6;
    }
</style>

<!--Display Credits for Using the Marvel API with a Link to Developer Portal-->
<div class="credits-container border border-dark border-3 m-3 p-3 shadow-lg text-center">
    <h1 class="h1-header display-1 mt-4 text-warning">
        Marvel Developer API
    </h1>
    <p>"Data provided by Marvel. © 2014 Marvel"</p>
    <div style="display: block">
        <a href="/Character/Index" class="btn btn-info shadow">Go Back</a>
        <a href="https://developer.marvel.com/" target="blank" class="btn btn-dark shadow">Marvel Developer</a>
    </div>
</div>