
<style>

    .header {
        text-align: center;
    }

    .error-container {
        background-color: #FDF5E6;
    }
</style>

<!--Character Not Found View -->
<div class="error-container border border-dark border-3 m-3 p-3 shadow-lg text-center">
    <h1 class="h1-header display-1 mt-4 text-warning">Warining API Error</h1>
    <p>There was a problem with the request. Please try again.</p>
    <div style="display: block">
        <a href="/Home/Index" class="btn btn-info shadow">Home</a>
    </div>
</div> 