
<style>

    .header {
        text-align: center;
    }

    .error-container {
        background-color: #FDF5E6;
    }
</style>

<!--Character List Empty-->
<div class="error-container border border-dark border-3 m-3 p-3 shadow-lg text-center">
    <h1 class="h1-header display-1 mt-4 text-warning">Your Favorites List is Empty</h1>
    <div style="display: block">
        <a href="/Character/Index" class="btn btn-dark shadow">Search For a Hero</a>
    </div>
</div>